body {
  text-align: center;
  font-family: Helvetica;
}

#Home h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#Home {
  font-size: 18px;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
  background-position: center;
}

#Designed {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
  background-position: center;
}

h2, h3 {
  font-weight: bold;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

.Info h3 {
  font-size: 23px;
  font-weight: bold;
}

span {
  font-size: 11px;
}

.footer {
  background-color: dimgray;
  text-align: left;
  color: white;
}

a {
  color: white;
}
